---
layout: home
custom_css: home
---
      
.container
  .center
    h1.parrallax Oefentherapie Cesar Tiel
  .row
    .col.s12.m4
      .card.tiny
        .card-content
          span.card-title Psychosomatische oefentherapie
        .card-action
          a(href="{{ 'psychosomatische-oefentherapie' | relative_url }}") Lees meer
    .col.s12.m4
      .card.tiny
        .card-content
          span.card-title Oefentherapie Cesar
        .card-action
          a(href="{{ 'oefentherapie-cesar' | relative_url }}") Lees meer
    .col.s12.m4
      .card.tiny
        .card-content
          span.card-title Bekkenoefentherapie
        .card-action
          a(href="{{ 'schroth' | relative_url }}") Lees meer
    .col.s12.m4
      .card.tiny
        .card-content
          span.card-title Slaaptherapie
        .card-action
          a(href="{{ 'slaapoefentherapie' | relative_url }}") Lees meer
    .col.s12.m4
      .card.tiny
        .card-content
          span.card-title Schroth therapie
        .card-action
          a(href="{{ 'schroth' | relative_url }}") Lees meer
    .col.s12.m4
      .card.tiny
        .card-content
          span.card-title Chronisch pijn therapie
        .card-action
          a(href="{{ 'schroth' | relative_url }}") Lees meer
