---
layout: home
custom_css: home
custom_js: home
---
      
.container
  .main-text Zorg voor bewegen
  .row
    .col.s12.m4
      .card.small
        .card-image
          img(src="{{ site.baseurl }}/assets/images/psychooefen.jpg")
        .card-content
          span.card-title(style="font-weight: 600; text-shadow: 1px 1px 3px rgba(150, 150, 150, 1); color: black;") Psychosomatische oefentherapie
          p Wanneer er een combinatie is van lichamelijke en psychische klachten spreken we van psychosomatische klachten. 
        .card-action
          a(href="{{ 'psychosomatische-oefentherapie' | relative_url }}") Lees meer
    .col.s12.m4
      .card.small
        .card-image
          img(src="{{ site.baseurl }}/assets/images/oefentherapiecesar.jpg")
        .card-content
          span.card-title(style="font-weight: 600; text-shadow: 1px 1px 3px rgba(150, 150, 150, 1); color: black;") Oefentherapie Cesar
          p Oefentherapie Cesar biedt paramedische zorg op het gebied van houding en beweging.
        .card-action
          a(href="{{ 'oefentherapie-cesar' | relative_url }}") Lees meer
    .col.s12.m4
      .card.small
        .card-image
          img(src="{{ site.baseurl }}/assets/images/bekkenbodem.png")
        .card-content
          span.card-title(style="font-weight: 600; text-shadow: 1px 1px 3px rgba(150, 150, 150, 1); color: black;") Bekkenoefentherapie
          p Bekkenoefentherapie is voor volwassenen en kinderen die klachten ervaren rondom de lage rug, bekken en/of bekkenbodem.
        .card-action
          a(href="{{ 'bekkenoefentherapie' | relative_url }}") Lees meer
    .col.s12.m4
      .card.small
        .card-image 
          img(src="{{ site.baseurl }}/assets/images/slaapoefentherapie.jpg")
        .card-content
          span.card-title(style="font-weight: 600; text-shadow: 1px 1px 3px rgba(150, 150, 150, 1); color: black;") Slaaptherapie
          p De oefentherapeut Cesar kan u helpen van uw slaapproblemen af te komen in gemiddeld 6 behandelingen.
        .card-action
          a(href="{{ 'slaapoefentherapie' | relative_url }}") Lees meer
    .col.s12.m4
      .card.small
        .card-image
          img(src="{{ site.baseurl }}/assets/images/gronische-pijn.jpg")
        .card-content
          span.card-title(style="font-weight: 600; text-shadow: 1px 1px 3px rgba(150, 150, 150, 1); color: black;") Chronische pijn
          p Pijn is een natuurlijk beschermingsmechanisme van het lichaam. Er is iets niet in orde en daar moet iets aan gedaan worden. 
        .card-action
          a(href="{{ 'chronische-pijn' | relative_url }}") Lees meer
    .col.s12.m4
      .card.small
        .card-image
          img(src="{{ site.baseurl }}/assets/images/schrot.png")
        .card-content
          span.card-title(style="font-weight: 600; text-shadow: 1px 1px 3px rgba(150, 150, 150, 1); color: black;") Schroth Best Practice
          p Driedimensionele specifieke oefentherapie bij scoliose en kyfose.
        .card-action
          a(href="{{ 'schroth' | relative_url }}") Lees meer
