---
layout: home
custom_css: home
custom_js: home
---
      
.container
  .center
    h1.parrallax Oefentherapie Cesar Tiel
  .row
    .col.s12.m4
      .card.small
        .card-image(style='max-height: 82%;')
          img(src="https://via.placeholder.com/200x200s")
          span.card-title Psychosomatische oefentherapie
        .card-action
          a(href="{{ 'psychosomatische-oefentherapie' | relative_url }}") Lees meer
    .col.s12.m4
      .card.small
        .card-image(style='max-height: 82%;')
          img(src="https://via.placeholder.com/200x200s")
          span.card-title Oefentherapie Cesar
        .card-action
          a(href="{{ 'oefentherapie-cesar' | relative_url }}") Lees meer
    .col.s12.m4
      .card.small
        .card-image(style='max-height: 82%;')
          img(src="{{ site.baseurl }}/assets/images/bekkenbodem.png" style='height:-webkit-fill-available; width:auto;')
          span.card-title Bekkenoefentherapie
        .card-action
          a(href="{{ 'bekkenoefentherapie' | relative_url }}") Lees meer
    .col.s12.m4
      .card.small
        .card-image(style='max-height: 82%;')
          img(src="{{ site.baseurl }}/assets/images/slaapoefentherapie.jpg" style='height:-webkit-fill-available; width:auto;')
          span.card-title Slaaptherapie
        .card-action
          a(href="{{ 'slaapoefentherapie' | relative_url }}") Lees meer
    .col.s12.m4
      .card.small
        .card-image(style='max-height: 82%;')
          img(src="https://via.placeholder.com/200x200s" style='height:-webkit-fill-available; width:auto;')
          span.card-title Chronisch pijn therapie
        .card-action
          a(href="{{ 'schroth' | relative_url }}") Lees meer
    .col.s12.m4
      .card.small
        .card-image(style='max-height: 82%;')
          img(src="{{ site.baseurl }}/assets/images/schrot.jpeg" style='height:-webkit-fill-available; width:auto;')
          span.card-title Schroth therapie bij scoliose / kyfose
        .card-action
          a(href="{{ 'schroth' | relative_url }}") Lees meer
