---
layout: home
custom_css: home
---
      
.container
  .center
    h1.parrallax#bigtext Onze Therapeuten
  .row
    .col.s12.m6
      .card
        .card-content
          span.card-title Carola Pals
          p Met veel zorg, aandacht, goed luisteren en een op maat gemaakt programma, geef ik oefentherapie aan patiënten die klachten hebben die voortkomen uit een verkeerd houdings- en bewegingspatroon. Hiervoor heb ik jarenlange ervaring opgedaan middels diverse scholingen/cursussen en 2 geregistreerde specialisaties verkregen.
    .col.s12.m6
      .card
        .card-content
          span.card-title Christien Leenders
          p 
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  p hoi
