---
layout: home
custom_css: home
---
      
.container
  .center
    h1.parrallax Oefentherapie Cesar Tiel
  .row
    .col.s12.m4
      .card.tiny
        .card-content
          span.card-title Psychosomatische oefentherapie
        .card-action
          a(href="#") Lees meer
    .col.s12.m4
      .card.tiny
        .card-content
          span.card-title Oefentherapie
        .card-action
          a(href="#") Lees meer
    .col.s12.m4
      .card.tiny
        .card-content
          span.card-title Bekken
        .card-action
          a(href="#") Lees meer
    .col.s12.m4
      .card.tiny
        .card-content
          span.card-title Slaaptherapie
        .card-action
          a(href="#") Lees meer
    .col.s12.m4
      .card.tiny
        .card-content
          span.card-title Schroth therapie
        .card-action
          a(href="{{ 'schroth' | absolute_url }}") Lees meer
    .col.s12.m4
      .card.tiny
        .card-content
          span.card-title Chronisch pijn therapie
        .card-action
          a(href="#") Lees meer
