---
layout: home
custom_css: home
custom_js: home
---
      
.container
  .main-text Zorg voor bewegen
  .row
    .col.s12.m4
      .card.small
        .card-image
          img(src="{{ site.baseurl }}/assets/images/psychooefen.jpg")
        .card-content
          span.card-title(style="font-weight: 600; text-shadow: 1px 1px 3px rgba(150, 150, 150, 1); color: black;") Psychosomatische oefentherapie
        .card-action
          a(href="{{ 'psychosomatische-oefentherapie' | relative_url }}") Lees meer
    .col.s12.m4
      .card.small
        .card-image
          img(src="{{ site.baseurl }}/assets/images/oefentherapiecesar.jpg")
        .card-content
          span.card-title(style="font-weight: 600; text-shadow: 1px 1px 3px rgba(150, 150, 150, 1); color: black;") Oefentherapie Cesar
        .card-action
          a(href="{{ 'oefentherapie-cesar' | relative_url }}") Lees meer
    .col.s12.m4
      .card.small
        .card-image
          img(src="{{ site.baseurl }}/assets/images/bekkenbodem.png")
        .card-content
          span.card-title(style="font-weight: 600; text-shadow: 1px 1px 3px rgba(150, 150, 150, 1); color: black;") Bekkenoefentherapie
        .card-action
          a(href="{{ 'bekkenoefentherapie' | relative_url }}") Lees meer
    .col.s12.m4
      .card.small
        .card-image 
          img(src="{{ site.baseurl }}/assets/images/slaapoefentherapie.jpg")
        .card-content
          span.card-title(style="font-weight: 600; text-shadow: 1px 1px 3px rgba(150, 150, 150, 1); color: black;") Slaaptherapie
        .card-action
          a(href="{{ 'slaapoefentherapie' | relative_url }}") Lees meer
    .col.s12.m4
      .card.small
        .card-image
          img(src="{{ site.baseurl }}/assets/images/gronische-pijn.jpg")
        .card-content
          span.card-title(style="font-weight: 600; text-shadow: 1px 1px 3px rgba(150, 150, 150, 1); color: black;") Chronische pijn
        .card-action
          a(href="{{ 'chronische-pijn' | relative_url }}") Lees meer
    .col.s12.m4
      .card.small
        .card-image
          img(src="{{ site.baseurl }}/assets/images/schrot.png")
        .card-content
          span.card-title(style="font-weight: 600; text-shadow: 1px 1px 3px rgba(150, 150, 150, 1); color: black;") Schroth Best Practice
        .card-action
          a(href="{{ 'schroth' | relative_url }}") Lees meer
