---
layout: default
---

.parallax-container
  .parallax
      | {% responsive_image path: assets/images/home.jpg %}
      
.container
  .row
    .col.s12.m7
      .card 
        .card-content
          p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
        .card-action
          a(href="#") This is a link
