<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="{% link /assets/js/jquery.fittext.js%}"></script>
<script src="{% link /assets/js/main.js%}"></script>
{% if site.env != 'production' %}
<script src="{% link /assets/js/live.js %}"></script>
{% endif %}
{% if page.custom_js %}
{% for js_file in page.custom_js %}
<script src="/assets/js/{{ js_file }}.js" type="text/javascript"></script>
{% endfor %}
{% endif %}
