---
layout: page
title: Contact
permalink: /contact/
thumbnail: 
weight: 6
---

h1 Contact

.hide-on-small-only
  .video-container(style='padding-bottom: 30%;')
    <iframe src="https://www.google.com/maps/d/embed?mid=1jDipot06QPbzlmWQT7mAwy5A7pytAL9l" frameborder='0'></iframe> 

  .row
    .col.s6
      p <h6> Praktijk voor oefentherapie Cesar en Psychosomatiche oefentherapie - Christien Leenders </h6> <br/> Dodewaardlaan 5-17 <br/> 4006EA Tiel <br/> Tel.: 0344-619398 <br/> Mob: 06-22909110 <br/> Email: <a href="mailto:cleenders@oefentherapiecesartiel.nl">cleenders@oefentherapiecesartiel.nl</a>
    .col.s6
      p <h6> Praktijk voor oefentherapie Cesar Tiel-Passewaaij  en Bekkenoefentherapie - Carola Pals </h6> <br/> Reine Claude 13 <br/> 4007ZK Tiel <br/> Dodewaardlaan 5-17 (dinsdag) <br/> Tel.: 0344-613209 <br/> Mob: 06-49626926 <br/> Email: <a href="mailto:cpals@oefentherapiecesartiel.nl">cpals@oefentherapiecesartiel.nl</a> <br/> Web: <a href="https://www.oefentherapiepassewaaij.nl/">www.oefentherapiepassewaaij.nl</a>

.show-on-small.hide-on-med-and-up
  .video-container
    <iframe src="https://www.google.com/maps/d/embed?mid=1jDipot06QPbzlmWQT7mAwy5A7pytAL9l" frameborder='0'></iframe> 
  p <h6> Praktijk voor oefentherapie Cesar en Psychosomatiche oefentherapie - Christien Leenders </h6> <br/> Dodewaardlaan 5-17 <br/> 4006EA Tiel <br/> Tel.: 0344-619398 <br/> Mob: 06-22909110 <br/> Email: <a href="mailto:cleenders@oefentherapiecesartiel.nl">cleenders@oefentherapiecesartiel.nl</a>
  p <h6> Praktijk voor oefentherapie Cesar Tiel-Passewaaij  en Bekkenoefentherapie - Carola Pals </h6> <br/> Reine Claude 13 <br/> Dodewaardlaan 5-17 (dinsdag) <br/> 4007ZK Tiel <br/> Dodewaardlaan 5-17 (dinsdag) <br/> Tel.: 0344-613209 <br/> Mob: 06-49626926 <br/> Email: <a href="mailto:cpals@oefentherapiecesartiel.nl">cpals@oefentherapiecesartiel.nl</a> <br/> Web: <a href="https://www.oefentherapiepassewaaij.nl/">www.oefentherapiepassewaaij.nl</a>

P Openingstijden oefentherapie Cesar Tiel <br/> Maandag	8.00 - 19.00 <br/> Dinsdag 8.00 - 21.00 <br/> Woensdag	08:00 - 19.00 <br/> Donderdag	08:00 - 21.00 <br/> Vrijdag	08:00 - 19.00

p Als u contact met ons wil opnemen kan dit via onderstaand contact formulier.
form(name='Contact' netlify)
  input(type="text" placeholder="Naam" required name="Naam")
  input(type="text" placeholder="Email" required name="Email")
  textarea(type="text" placeholder="Bericht" required name="Bericht").materialize-textarea
  <button class="btn waves-effect waves-light" type="submit" name="action">Verstuur
    <i class="material-icons right">send</i>
  </button>