---
layout: page
title: Contact
permalink: /contact/
thumbnail: 
weight: 5
---

h1 Contact

.row
  .col.s6
    <iframe src="https://www.google.com/maps/d/embed?mid=1jDipot06QPbzlmWQT7mAwy5A7pytAL9l" width="440" height="380"></iframe> 
  .col.s6
    p Praktijk voor oefentherapie Cesar en Psychosomatiche oefentherapie <br/> 4006EA Tiel <br/> Tel.: 0344-619398 <br/> Mob: 06-22909110
    p Praktijk voor oefentherapie Cesar Tiel-Passewaaij <br/> Reine Claude 13 <br/> 4007ZK Tiel <br/> Tel.: 0344-613209 <br/> Mob: 06-49626926 <br/> Web: <a href="https://www.oefentherapiepassewaaij.nl/">www.oefentherapiepassewaaij.nl</a>
    P Openingstijden oefentherapie Cesar Tiel <br/> Maandag	8.00 - 19.00 <br/> Dinsdag 8.00 - 21.00 <br/> Woensdag	08:00 - 19.00 <br/> Donderdag	08:00 - 21.00 <br/> Vrijdag	08:00 - 19.00
