---
layout: page
title: Contact
permalink: /contact/
thumbnail: 
weight: 5
---

h1 Contact

.row
  .col.s7
    <iframe src="https://www.google.com/maps/d/embed?mid=1jDipot06QPbzlmWQT7mAwy5A7pytAL9l" width="440" height="380"></iframe>
  .col.s7
    p Eerstelijnscentrum Tiel <br/> Dodewaardlaan 5 <br/> 4006EA Tiel
    p #TODO: Andere locatie
    
