---
layout: page
title: Contact
permalink: /contact/
thumbnail:
weight: 5
---

p.title.has-text-weight-light Contact

.row
  .col.s7
    <iframe src="https://www.google.com/maps/d/embed?mid=1jDipot06QPbzlmWQT7mAwy5A7pytAL9l" width="640" height="480"></iframe>
  .col.s7
    p Eerstelijnscentrum Tiel <br/> Dodewaardlaan 5 <br/> 4006EA Tiel
    p #TODO: Andere locatie
    
