---
layout: page
title: Wanneer oefentherapie?
permalink: /klachten/
thumbnail: 
weight: 1
---

h4 Welke klachten en aandoeningen worden behandeld?

.row
  .col.s12.m4
      h5 Houdings- en bewegingsklachten
      ul
        li scoliose, kyfose en/of lordose
        li lage rugklachten
        li nek- en schouderklachten
        li hoofdpijnklachten
        li bekkenklachten
        li heup-, knie- en voetklachten
  .col.s12.m4
      h5 Orthopedische aandoeningen
      ul
        li post operatieve therapie bij: heup- knie- en herniaoperaties
        li revalidatie na fracturen
        li ziekte van Scheuermann
        li osteoprose
        li artrose
        li spondylose/spondylolisthesis
  .col.s12.m4
    h5 Neurologische aandoeningen:
    ul
      li ziekte van Parkinson
      li Multiple Sclerose
      li uitstralende zenuwpijn (pseudo) radiculair syndroom
      li hernia
.row
  .col.s12.m4
    h5 Reumatische aandoeningen:
    ul
      li reumatoïde artritis
      li fibromyalgie
      li ziekte van Bechterew
      li gewrichtsklachten in het algemeen
  .col.s12.m4
    h5 Ademtechniek verbetering en ontspanning:
    ul
      li COPD/astma en andere longaandoeningen
      li hyperventilatie/paniekstoornis
      li stressgerelateerde klachten
      li spierspanningshoofdpijn
  .col.s12.m4
    h5 Revalidatie na trauma:
    ul
      li whiplash
      li fracturen
      li sportblessures
.row
  .col.s12.m4
    h5 Preventie en bestrijding van beroepsklachten:
    ul
      li klachten aan nek en schouder (KANS)
      li klachten t.g.v. beeldschermwerk
      li rugklachten bij tilberoepen, o.a. in de zorgsector, bouw en logistiek\
  .col.s12.m4
    h5 Achterblijvende motorische ontwikkeling bij kinderen:
    ul
      li grove en fijne motoriek
      li sensomotoriek
      li schrijfproblemen
      li Bekkenklachten:
  .col.s12.m4
    h5 klachten ontstaan tijdens de zwangerschap en/of na de bevalling
    ul
      li urine incontinentie
      li S.I. problematiek
    
