---
layout: page
title: Kwaliteit
permalink: /kwaliteit/
thumbnail:
weight: 4
---

:markdown-it
 ## Kwaliteit
 Om de kwaliteit van onze praktijk te behouden en te verbeteren richten we ons op het volgende:

.row
    .col.s2
        .valign-wrapper
            img(src="{{ site.baseurl }}/assets/images/logoVvOCM.png" width="100%" style="margin-top: 40px;")
    .col.s10
        :markdown-it
          #### Lidmaatschap VvOCM
          Lidmaatschap van de beroepsvereniging, de Vereniging van Oefentherapeuten Cesar en Mensendieck (VvOCM).

.row
    .col.s2
        .valign-wrapper
            img(src="{{ site.baseurl }}/assets/images/kp.jpg" width="100%" style="margin-top: 40px;")
    .col.s10
        :markdown-it
         #### Kwaliteitsregister Paramedici
         VvOCM vastgestelde kwaliteitseisen voor registratie in het landelijke Kwaliteitsregister voor Paramedici ex. Art. 34 Wet BIG.

#### Intercollegiale overleggroepen
 Intercollegiale overleggroepen op gebied van bekken, chronische pijn, psychosomatiek en schroth.

#### Bij- en nascholing
Om de vakkennis te blijven ontwikkelen volgen wij jaarlijks bij- en nascholingscursussen.

#### Richtlijnen
In de praktijk wordt gewerkt met de door de beroepsvereniging ontwikkelde richtlijnen: 
- ziekte van Bechterew
- osteoporose
- idiopatische scoliose- peripartum bekkenklachten
- whiplash
- urine-incontinentie/ bekkenbodemklachten
- artrose heup/ knie
- COPD
- nek/schouderklachten
- CANS (voorheen RSI)
- ziekte van Parkinson
- lage rugklachten
