---
layout: page
title: Kwaliteit
permalink: /kwaliteit/
thumbnail:
weight: 4
---

:markdown-it
 ## Kwaliteit
 Om de kwaliteit van onze praktijk te behouden en te verbeteren richten we ons op het volgende:
 
 
:markdown-it(style='margin-top: 0px;')
 #### Intercollegiale overleggroepen
  Intercollegiale overleggroepen op gebied van bekken, chronische pijn, psychosomatiek en schroth.

 #### Bij- en nascholing
 Om de vakkennis te blijven ontwikkelen volgen wij jaarlijks bij- en nascholingscursussen.

 #### Richtlijnen
 In de praktijk wordt gewerkt met de door de beroepsvereniging ontwikkelde richtlijnen: 
 - ziekte van Bechterew
 - osteoporose
 - idiopatische scoliose- peripartum bekkenklachten
 - whiplash
 - urine-incontinentie/ bekkenbodemklachten
 - artrose heup/ knie
 - COPD
 - nek/schouderklachten
 - CANS (voorheen RSI)
 - ziekte van Parkinson
 - lage rugklachten
