---
layout: page
title: Therapeuten
permalink: /therapeuten
thumbnail:
weight: 1
---


.row
    .col.s8
        :markdown-it

            ### Cristien Leenders

            Sinds 1983 ben ik werkzaam als Oefentherapeut Cesar en behandel ik cliënten, jong en oud, met klachten in het bewegingspatroon.
            Daarnaast heb ik mij in de loop der jaren gespecialiseerd in chronische pijntherapie, slaapoefentherapie en mindfulnesstraining. Bovendien ben ik geregistreerd Psychosomatisch Oefentherapeut en neem ik deel in het Kind Expertise Centrum (KEC).

    .col.s4


.row
    .col.s4
        img(src="{{ site.baseurl }}/assets/images/Home1.jpg" width="100%" style="margin-top: 50px;")
    .col.s8
        :markdown-it

            ### Carola Pals

            Vanaf 1983 ben ik werkzaam als oefentherapeut  Cesar in Tiel.  Tot op de dag van vandaag  behandel ik patiënten met veel  aandacht, vertrouwen en met goed te luisteren. Daarmee probeer ik patiënten te begeleiden in een voorop gesteld behandeltraject, om de hulpvraag en het doel van de behandeling beantwoordt te krijgen. Allerlei op maat gesneden oefeningen en adviezen worden uitgedacht, uitgevoerd en doorgegeven, welke passen bij de hulpvraag en het gestelde doel van de patiënt, jong of oud. Het is voor mij altijd weer een uitdaging om daar zo dicht mogelijk bij te komen, en het liefst na afloop een volledig behaald doel, en daarmee een beantwoorde hulpvraag en een tevreden patiënt.
            De meeste klachten die ik behandel zijn houding gerelateerd:  o.a. voor alle leeftijden patiënten  met een houdingsafwijking, bijv. een scoliose of kyfose; patiënten met diverse klachten  t.g.v. een  houdingsafwijking/verkeerd bewegingspatroon,  patiënten met beroepsgerelateerde klachten  etc. 
            Naast het beroep als oefentherapeut Cesar heb ik mij gespecialiseerd tot 

            
