---
layout: page
title: Therapeuten
permalink: /therapeuten
thumbnail:
weight: 5
---


.row
    .col.s2
        .valign-wrapper
            img(src="{{ site.baseurl }}/assets/images/foto_christien.jpg" width="100%" style="margin-top: 40px;")
    .col.s10
        :markdown-it

            ### Christien Leenders
            Sinds 1983 ben ik werkzaam als oefentherapeut Cesar en behandel ik zowel kinderen als volwassenen met houdings- en bewegingsklachten, ademhalings- en spanningsklachten. Daarnaast heb ik mij in de loop der jaren gespecialiseerd in chronische pijntherapie, slaapoefentherapie, hartcoherentie en mindfulnesstraining. Bovendien ben ik geregistreerd Psychosomatisch oefentherapeut en neem ik deel in het Kind Expertise Centrum (KEC). Dit is een samenwerkingsverband tussen een, logopedist, kinderfysiotherapeut, kinderoefentherapeut, slaaptherapeut, orthopedagoog en een orthomoleculair diëtist om voor kinderen met multi problematiek tussen 0 en 18 jaar een snelle diagnostisering mogelijk te maken, waarna, indien nodig, een multidisciplinair behandeltraject volgt. 

.row
    .col.s2
        img(src="{{ site.baseurl }}/assets/images/Home1.jpg" width="100%" style="margin-top: 40px;")
    .col.s10
        :markdown-it

            ### Carola Pals

           Met 35 jaar werkervaring als oefentherapeut Cesar in Tiel, heb ik een brede kijk op de houding en de manier van bewegen van de patiënt. Er zijn vele mogelijkheden om het bewustmakingsproces voor verbetering van de houding en de beweging aan te leren. De patiënt wordt hierin met veel individuele aandacht begeleidt. 
           Mijn registraties zijn Bekkenoefentherapie voor klachten rond de lage rug en het bekken, o.a. bij schaambeen-,stuit- bil-, heupklachten en klachten rond de SI-gewrichten. Er is een samenwerkingsverband met zorgverleners vanuit Zwangeren in Beweging. Daarnaast sta ik geregistreerd als Schroth Best Practice therapeut, dit is een driedimensionale specifieke oefenmethode bij behandeling van scoliose.
