---
layout: page
title: Therapeuten
permalink: /therapeuten
thumbnail:
weight: 1
---


.row
    .col.s8
        :markdown-it

            ### Cristien Leenders

            Sinds 1983 ben ik werkzaam als Oefentherapeut Cesar en behandel ik cliënten, jong en oud, met klachten in het bewegingspatroon.
            Daarnaast heb ik mij in de loop der jaren gespecialiseerd in chronische pijntherapie, slaapoefentherapie en mindfulnesstraining. Bovendien ben ik geregistreerd Psychosomatisch Oefentherapeut en neem ik deel in het Kind Expertise Centrum (KEC).

    .col.s4


.row
    .col.s4
        img(src="{{ site.baseurl }}/assets/images/Home1.jpg" width="100%" style="margin-top: 50px;")
    .col.s8
        :markdown-it

            ### Carola Pals

            Vanaf 1983 ben ik werkzaam als oefentherapeut  Cesar in Tiel.  Tot op de dag van vandaag  behandel ik patiënten met veel  aandacht, vertrouwen en met goed te luisteren. Daarmee probeer ik patiënten te begeleiden in een voorop gesteld behandeltraject, om de hulpvraag en het doel van de behandeling beantwoordt te krijgen. Allerlei op maat gesneden oefeningen en adviezen worden uitgedacht, uitgevoerd en doorgegeven, welke passen bij de hulpvraag en het gestelde doel van de patiënt, jong of oud. Het is voor mij altijd weer een uitdaging om daar zo dicht mogelijk bij te komen, en het liefst na afloop een volledig behaald doel, en daarmee een beantwoorde hulpvraag en een tevreden patiënt.
            De meeste klachten die ik behandel zijn houding gerelateerd:  o.a. voor alle leeftijden patiënten  met een houdingsafwijking, bijv. een scoliose of kyfose; patiënten met diverse klachten  t.g.v. een  houdingsafwijking/verkeerd bewegingspatroon,  patiënten met beroepsgerelateerde klachten  etc. 
            Naast het beroep als oefentherapeut Cesar heb ik mij gespecialiseerd tot 

            ###### Bekkenoefentherapeut:

            De groep patiënten die zich aanmelden voor lage rug-bekkenproblematiek  worden behandeld met de nieuwste inzichten binnen deze problematiek.  Deze klachten komen voor bij patiënten wel of niet zwangerschap gerelateerd.  Om deze bekkenklachten goed te kunnen blijven behandelen en begeleiden blijf ik mij bijscholen en overleg ik mee binnen de Bekkengroep Midden-Nederland. Bekken- / SI klachten zijn dus niet per definitie zwangerschap gerelateerd. 2.

            ###### Schroth Best Practice therapie:

            Deze methode wordt gebruikt bij een scoliose/kyfose. De  methode Schroth is ontwikkeld door Katharina Schroth. Zij had zelf een scoliose: dit is een zijwaartse buiging en verdraaiing van de wervelkolom. De ribben zijn verbonden met gewrichtjes aan de borstwervels, bij een scoliose draaien deze mee. Als iemand met scoliose voorover buigt, kun je aan een zijde een bolling zien, dit wordt een gibbus genoemd. Via een röntgenfoto wordt gemeten hoe ernstig de zijdelingse buiging/verdraaiing is. Dit wordt uitgedrukt in graden.

            Soms worden kinderen geboren met een scoliose, maar meestal ontstaat de vergroeiing van de rug in de groeifase. Een scoliose op kinderleeftijd geeft geen klachten, maar dit kan op volwassen leeftijd veranderen. Bij een kromming boven de 45 graden wordt bij kinderen in de groei vaak overgegaan tot een operatie. Bij minder kromming kan tijdens de groeifase een brace helpen, deze zorgt ervoor dat de wervelkolom zo recht mogelijk blijft. De laatste jaren is er ook steeds meer wetenschappelijk bewijs dat oefentherapie volgens de methode Schroth zeer effectief is bij scoliose. 

            Het Schroth Best Practice program is ontwikkeld door dr Hans Weiss en maakt gebruik van houdingen uit het dagelijks dagelijks leven, deze kunnen dan geoefend worden. Hoe vaker de correctie wordt uitgeoefend, des te beter het resultaat!

            De Power-Schroth oefeningen zijn juist bedoeld om een overcorrectie te geven, waarbij ook gebruik wordt gemaakt van een krachtige ademhaling. Een indruk van de therapie krijg je bij het volgende filmpje www.youtube.com/watch?v=eHsCsL7IEaU 
            Meer informatie over deze therapie en gerelateerd wetenschappelijk onderzoek kunt u vinden op de volgende websites

            - www.schrothbestpractice.com
            - www.scoliosis-dr-weiss.com
            - www.maartenskliniek.nl/behandelingen/kinderen/scoliosebijkinderen2

            In de groeispurt kan de scoliose het meest verergeren. Vroege screening in groep 8, begin voortgezet onderwijs, is dus van groot belang om het juiste beleid zo snel mogelijk te starten. Zowel voor de eerste screening als voor de Schroth Best Practice oefentherapie kunt u bij mij terecht.