---
layout: page
title: Therapeuten
permalink: /therapeuten
thumbnail:
weight: 5
---


.row
    .col.s2
        .valign-wrapper
            img(src="{{ site.baseurl }}/assets/images/foto_christien.jpg" width="100%" style="margin-top: 40px;")
    .col.s10
        :markdown-it

            ### Christien Leenders
            Sinds 1983 ben ik werkzaam als oefentherapeut Cesar en behandel ik zowel kinderen als volwassenen met houdings- en bewegingsklachten, ademhalings- en spanningsklachten. Daarnaast heb ik mij in de loop der jaren gespecialiseerd in chronische pijntherapie, slaapoefentherapie, hartcoherentie en mindfulnesstraining. Bovendien ben ik geregistreerd Psychosomatisch oefentherapeut en neem ik deel in het Kind Expertise Centrum (KEC). Dit is een samenwerkingsverband tussen een, logopedist, kinderfysiotherapeut, kinderoefentherapeut, slaaptherapeut, orthopedagoog en een orthomoleculair diëtist om voor kinderen met multi problematiek tussen 0 en 18 jaar een snelle diagnostisering mogelijk te maken, waarna, indien nodig, een multidisciplinair behandeltraject volgt. 

.row
    .col.s2
        img(src="{{ site.baseurl }}/assets/images/Home1.jpg" width="100%" style="margin-top: 40px;")
    .col.s10
        :markdown-it

            ### Carola Pals

            Inmiddels ben ik 35 jaar werkzaam als oefentherapeut Cesar in Tiel. Het behandelen van patiënten, ongeacht de leeftijd, is als oefentherapeut een mooi beroep. Het samen werken aan de verbetering van zijn/haar houding en de manier van bewegen, is een proces waar elke keer weer veel tevredenheid te zien is.  
            Ik heb mij geregistreerd als Bekkenoefentherapeut en Schroth Best Practice therapeut.
            De meeste klachten die ik behandel zijn lage rug-bekken gerelateerd/ houding gerelateerd: bijv. een scoliose of kyfose; patiënten met diverse klachten verkeerd bewegingspatroon, patiënten met beroeps gerelateerde klachten etc. 


            
