doctype html
html(lang="nl")

  head
    title {% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} {% if site.description %} – {{ site.description }} {% endif %}
    | {% include meta.html %}
    <!--[if lt IE 9]>
        script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"
    <![endif]-->
    link(rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css")
    | {% if page.custom_css %}
    | {% for stylesheet in page.custom_css %}
    link(rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/custom_css/{{ stylesheet }}.css")
    | {% endfor %}
    | {% endif %}
    link(rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    script(src="https://identity.netlify.com/v1/netlify-identity-widget.js")

  body
    nav
      .nav-wrapper(style="background-color: #f27f13;")
        a(class="brand-logo hide-on-small-only" href="{{ site.baseurl }}/")
          span.logo {{ site.name }}
        a( href="{{ site.baseurl }}/" data-target="mobile-menu" class="sidenav-trigger")
          i.material-icons menu
        ul.right.hide-on-med-and-down
          li 
            a(href="{{ site.baseurl }}/") Home
          |  {% assign pages_list = site.pages | sort:"weight" %}
          |    {% for node in pages_list %}
          |      {% if node.title != null %}
          |        {% if node.layout == "page" %}
          li
            a(href="{{ node.url }}") {{ node.title }}
          |        {% endif %}
          |      {% endif %}
          |    {% endfor %}

    ul.sidenav(id="mobile-menu")
      li
        a(href="{{ site.baseurl }}/") Home
      |  {% assign pages_list = site.pages %}
      |    {% for node in pages_list %}
      |      {% if node.title != null %}
      |        {% if node.layout == "page" %}
      li
        a(href="{{ node.url }}") {{ node.title }}
      |        {% endif %}
      |      {% endif %}
      |    {% endfor %}

    div(id="main" role="main")
      | {{ content }}

    footer.page-footer(style="background-color: #f27f13;")
          .container
            .row
              h5.white-text  Praktijken
              .col.l6.s12
                p.grey-text.text-lighten-4 Praktijk voor oefentherapie Cesar Tiel-Passewaaij <br/> Reine Claude 13 <br/> 4007ZK Tiel <br/> Tel.: 0344-613209 <br/> Mob: 06-49626926
              .col.l6.s12
                p.grey-text.text-lighten-4 Praktijk voor oefentherapie Cesar en Psychosomatiche oefentherapie <br/> Dodewaardlaan 5 <br/> 4006EA Tiel <br/> Tel.: 0344-619398 <br/> Mob: 06-22909110
          .footer-copyright
            .container © 2018 Copyright Cesartherapie Tiel

    | {% include javascript.html %}
    | {% include analytics.html %}
